<h2>注文履歴一覧</h2>

<table class="table table-bordered">
	<tr>
		<th>注文日</th>
		<th>配送先</th>
		<th>注文商品</th>
		<th>支払金額</th>
		<th>ステータス</th>
		<th>注文詳細</th>
	</tr>
	<tr>
		<td>2019/11/15</td>
		<td>
		  189-0043</br>
		  東京都渋谷区館南1-23-50</br>
		  山田花子
		</td>
		<td>イチゴのガトーショコラ</td>
		<td>2300円</td>
		<td>入金確認</td>
		<td>
		   <%=link_to "表示する",'#',class: "btn btn-info" %>
		</td>
	</tr>
</table>