

<h2>会員一覧画面</h2>
<table class="table table-bordered">
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>メールアドレス</th>
		<th>ステータス</th>
	</tr>
	<% @customer.each do |customer| %>
	<tr>
		<td><%= customer.id %></td>
		<td><%= link_to customer.name_last,admins_customer_path(customer) %>
			<%= link_to customer.name_first, admins_customer_path(customer) %>
		</td>
		<td><%= customer.email %></td>

			<% if customer.status %>
				<td>有効</td>
			<% else %>
				<td>無効</td>
			<% end %>
	</tr>
	<% end %>
</table>
</div>
