<h2>会員一覧画面</h2>

<table class="table table-bordered">
	<tr>
		<th>会員ID</th>
		<th>氏名</th>
		<th>メールアドレス</th>
		<th>ステータス</th>
	</tr>
	<tr>
		<td>1</td>
		<td>神崎　あゆみ</td>
		<td>aaa@aaa.jp</td>
		<td>有効</td>
	</tr>
</table>