<h2>マイページ</h2>
<h4>登録情報</h4>
<%=link_to "編集する",'#',class:"btn btn-primary" %>
<%=link_to "パスワードを変更する","#",class:"btn btn-primary" %>

<table>
	<tr>
		<th>氏名</th>
		<td>山田花子</td>
	</tr>
	<tr>
		<th>カナ</th>
		<td>ヤマダ　ハナコ</td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td>〒150-0041</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>東京都渋谷区神南１丁目１９−１１　パークスクウェア２４</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>03-6869-4700</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>hoge@example</td>
	</tr>
</table>


<h4>配送先</h4>
<%=link_to "一覧を見る",'#',class:"btn btn-primary" %>
<h4>注文履歴</h4>
<%=link_to "一覧を見る",'#',class:"btn btn-primary" %>