<style>
	main {
		width: 1000px;
		height: 600px;
		margin: 0 auto;
	}
	.sidebar {
		width: 270px;
		height: 450px;
		border: 2px solid;
		float: left;
		margin: 2px;
	}

	.categori-head {
		border-bottom: 2px solid;
	}

	.index {
		width: 700px;
		height: 600px;
		border: 2px solid;
		float: left;
		margin: 2px;
	}
	.product {
		width: 320px;
		height: 200px;
		border: 2px solid;
		margin: 10px;
		float: left;
	}
	.image {
		width: 250px;
		height: 100px;
		border: 2px solid;
		margin: 10px auto;
	}
</style>

<main>
	<div class="sidebar">
		<div class="categori">
			<div class="categori-head">
				<h2>ジャンル検索</h2>
			</div>
		</div>
		<div class="categori-item">
			<h3>ケーキ</h3>
			<h3>焼き菓子</h3>
		</div>
	</div>
	<div class="index">
		<h2>商品一覧</h2>
		<div class="product">
			<div class="image">
			</div>
			<h4>商品名</h4>
			<h4>価格¥</h4>
		</div>
		<div class="product">
			<div class="image">
			</div>
			<h4>商品名</h4>
			<h4>価格¥</h4>
		</div>
		<div class="product">
			<div class="image">
			</div>
			<h4>商品名</h4>
			<h4>価格¥</h4>
		</div>
		<div class="product">
			<div class="image">
			</div>
			<h4>商品名</h4>
			<h4>価格¥</h4>
		</div>
	</div>
</main>