/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* footer */


footer {
  width: 100%;
  height: 80px;
  background-color: gray;
}
.footer-text{
  line-height: 80px;
  text-align: center;
}


/* header */


header {
	width: 100%;
}



/* cart_item */


.delete-bottun{
    width:30px;
	margin:0 0 0 auto;
	margin-right:110px;
}

.cart-image{
  background-image: url(cake_2.jpg);
  width:70px;
  height:40px;
  float:left;
}

.cart-table{
	width:90%;
}
.cart-table2{
	width:30%;
	margin:0 0 0 auto;
}
.go-bottun{
    width:50px;
	margin:0 auto;
}


/* product */


.product-show-img{
  background-image: url(cake_2.jpg);
  width:100%;
  height:150px;
}


/* order */


 .go-button2{
 width:80px;
 margin:0 auto;
 }

.form{
	margin-left:40px;
	width:50%;
}

.admin-order-show2{
  margin-top:30px;

}


/* delivery */


.delivery-index-form{
  width:100%;
}