<div class="row">
 <div class="col-xs-3">
  <table class="table table-bordered">
	<tr>
		<th>ジャンル検索</th>
	</tr>

	<tr>
		<td>ケーキ</td>
	</tr>

  </table>
 </div>

 <div class="col-xs-3">
 <img src="images/cake1.jpg">
</div>
<div class="col-xs-3">
  <p>イチゴのショートケーキ</p>
  <p>説明文です</p>
  <p>¥ 550 (税込）</p>

  <p>個数選択</p>　　
  <!-- enum使う？ -->
  <p>カートに入れる</p>
 </div>
</div>
