<header>
	<div class="container">
		<div class="header-logo">
		</div>
		<ul class="top-navigation">
			<li class="nav-category">商品一覧</li>
			<li class="nav-category">カート</li>
			<li class="nav-category">ユーザー名</li>
			<li class="nav-category">ログアウト</li>
		</ul>
	</div>
</header>
<!-- ここから<main> -->
<main>
	<div class="main-contents">
		<img src="images/cake1" alt="cake">
	</div>

	<div class="about">
		<p>長野県にある小さな洋菓子店「ながのCAKE」の商品を通販するためのECサイト<br>
		注文を受けてからの製造の為、フレッシュな商品をお届けします。</p>
	</div>
</main>
<!-- ここから<footer> -->
<footer>
	<div class="footer-box">
		<p>©copyright ながのcake</p>
	</div>
</footer>